* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

header {
  background-color: black;
  padding: 0.5vw;
  padding-right: 0.7vw;
  display: flex;
  color: white;
  justify-content: space-between;
  border-bottom: 1px solid #444;
  position: sticky;
  top: 0;
}

header nav {
  display: flex;
}

header #math-logo {
  width: 7vw;
  height: 3.5vw;
}

header nav ul {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1vw;
  align-items: center;
}

li #math-plus {
  position: relative;
}

header nav ul li #math-plus::after {
  content: "";
  background-color: #f00;
  border: 1px solid #f00;
  border-radius: 5vw;
  height: 0.3vw;
  position: absolute;
  right: -0.2vw;
  top: 0;
  width: 0.3vw;
}

header nav ul li a {
  color: white;
  padding: 0.9vw;
  border-radius: 0.2vw;
}


header ul #references>a:hover,
header ul #guides>a:hover,
header ul #math-plus>a:hover {
  background-color: #333;
  color: rgb(255, 148, 148);
}


header #nav-references,
header #nav-guides,
header #nav-math {
  background-color: #aaa;
  padding: .5vw;
  border: 2px solid #fff;
  border-radius: .15vw;
}

header #nav-references,
header #nav-guides,
header #nav-math {
  display: none;
}

header #nav-references {
  position: absolute;
  top: 4vw;
  left: 7.5vw;
}

header #nav-guides {
  position: absolute;
  top: 4vw;
  left: 14vw;
}

header #nav-math {
  position: absolute;
  top: 4vw;
  left: 19vw;
}

header #nav-references li,
header #nav-guides li,
header #nav-math li {
  line-height: 1.5vw;
  padding: .5vw;

}

header #nav-references li:hover,
header #nav-guides li:hover,
header #nav-math li:hover {
  background-color: #888;
  border-radius: .1vw;
}

header #nav-references li a,
header #nav-guides li a,
header #nav-math li a {
  color: #fff;

}

header #nav-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 1vw;
}

header #nav-container form {
  border: 0.1vw solid #fff;
  border-radius: 5vw;
  width: 5vw;
  height: 2.2vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

@keyframes blink {
  0% {
    text-decoration: underline;
  }

  100% {
    text-decoration: none;
  }
}

header #nav-container form input {
  background: none;
  width: 1vw;
  border: none;
  text-decoration-line: underline;
  color: white;
  caret-color: transparent;
  margin: 0 0.3vw;
}

header #nav-container form #cancel,
header #nav-container form #search-icon {
  display: none;
  width: 1.5vw;
  margin: .2vw 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}

header #nav-container form #search-icon {
  display: flex;
}

header #nav-container form #cancel:hover,
header #nav-container form #search-icon:hover {
  background-color: #333;
  color: rgb(255, 148, 148);
}

header #nav-container #theme {
  cursor: pointer;
}

main #homepage {
  background-color: #222;
  padding: 2vw;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  background-image: url(../img/formulas.png);
  background-blend-mode: darken;
}

main #homepage h1 {
  line-height: 3vw;
  text-align: left;
  font-size: 3vw;
  font-weight: bolder;
}

main #homepage h1 u {
  text-decoration: underline;
  text-decoration-color: rgb(255, 148, 148);
}

main #homepage h1::after {
  content: '';
  width: 1.3vw;
  height: .29vw;
  background: rgb(255, 148, 148);
  display: inline-block;
  margin-left: .1vw;
}

main #homepage #form-homepage {
  border: 0.1vw solid #fff;
  border-radius: 5vw;
  width: 30vw;
  height: 3.5vw;
  display: grid;
  grid-template-columns: auto 1vw 1vw;
  align-content: center;
  justify-content: center;
}

main #homepage #form-homepage input {
  background: none;
  width: 25vw;
  border: none;
  color: white;
}

main #featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 2vw;
  padding: 2vw;
  background: #333;
  color: #fff;
}

main #featured #featured-container {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2vw;
}

main #featured-container .featured-articles {
  border: 1px solid #fff;
  padding: 1vw;
  border-radius: 0.5vw;
}

main section h2 {
  text-align: left;
  width: 80vw;
}

main #featured-container .featured-articles a {
  color: #fff;
}

main #featured-container .featured-articles a:hover,
main #featured-container .featured-articles h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

main #latest-news,
main #recent-cont {
  background-color: #333;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2vw;
  padding: 2vw;
}

main #news-list {
  display: flex;
  flex-direction: column;
  width: 80vw;
  font-size: 1.5vw;
}

#news-list .news-item {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "news-title news-date"
    "news-subtitle news-date"
  ;
  align-items: center;
  padding: 0.8vw;
  border-radius: 0.2vw;
}


#news-list .news-item .news-title {
  grid-area: news-title;
}

#news-list .news-item .news-subtitle {
  grid-area: news-subtitle;
  font-size: 1vw;
}

#news-list .news-item .news-date {
  grid-area: news-date;
  text-align: right;
  font-size: 1vw;
}

#news-list .news-item:nth-child(odd) {
  background-color: #aaa;

}

#news-list .news-item span a,
#news-list .news-item p {
  color: white;

}

#news-list .news-item span a:hover {
  text-decoration: underline;
  color: #eee;
}

footer {
  background-color: #000;
  padding: 2vw;
  color: #fff;
  border-top: 1px solid #444;
}

footer #nav-footer {
  display: grid;
  grid-template-areas:
    "footer-logo footer-col-1 footer-col-2 footer-col-3 footer-col-4"
    "footer-legal footer-legal footer-legal footer-legal footer-legal"
  ;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

footer div a {
  color: #fff;
}

footer div a:hover {
  color: rgb(255, 148, 148);
}

footer div p {
  font-size: 1.2vw;
}

#nav-footer #math-logo-footer {
  font-size: 1.8vw;
}

#nav-footer #footer-legal {
  padding: 1vw 0 0;
  border-top: 1px solid #444;
}

#nav-footer #footer-legal #license {
  font-size: 0.85vw;
  line-height: 1.5vw;
}

#footer-legal #license a {
  cursor: pointer;
  text-decoration: underline;
}

footer #footer-logo {
  grid-area: footer-logo;
}

footer #footer-col-1 {
  grid-area: footer-col-1;
}

footer #footer-col-2 {
  grid-area: footer-col-2;
}

footer #footer-col-3 {
  grid-area: footer-col-3;
}

footer #footer-col-4 {
  grid-area: footer-col-4;
}

footer #footer-legal {
  grid-area: footer-legal;
}